<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cyanogenmod.settings"
    android:versionCode="1"
    android:versionName="1.0" 
    coreApp="true"
    android:sharedUserId="android.uid.system"
    >
    
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.HARDWARE_TEST" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-sdk android:minSdkVersion="14" />

    <application
        android:icon="@drawable/ic_launcher_cmsettings"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".SlideSettings"
            android:taskAffinity="com.cyanogenmod.settings"
            android:launchMode="singleTask">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.cyanogenmod.SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Settings"
            android:taskAffinity="com.cyanogenmod.settings"
            android:launchMode="singleTask">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.cyanogenmod.SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".SubSettings"
                android:taskAffinity="com.cyanogenmod.settings">
        </activity>

        <!-- Notification Widget -->
        <activity android:name=".activities.PowerWidget"
                android:label="@string/title_widget_buttons"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:clearTaskOnLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.cyanogenmod.WIDGET_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.cyanogenmod.settings.FRAGMENT_CLASS"
                android:value="com.cyanogenmod.settings.activities.PowerWidget" />
            <meta-data android:name="com.cyanogenmod.settings.TOP_LEVEL_HEADER_ID"
                android:resource="@id/power_widget_settings" />
        </activity>

        <activity android:name="Settings$PowerWidgetChooserActivity"
                android:label="@string/title_widget_picker"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:clearTaskOnLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.cyanogenmod.settings.FRAGMENT_CLASS"
                android:value="com.cyanogenmod.settings.activities.PowerWidget$PowerWidgetChooser" />
            <meta-data android:name="com.cyanogenmod.settings.TOP_LEVEL_HEADER_ID"
                android:resource="@id/power_widget_settings" />
            <meta-data android:name="com.cyanogenmod.settings.PARENT_FRAGMENT_TITLE"
                android:value="@string/title_widget_buttons" />
            <meta-data android:name="com.cyanogenmod.settings.PARENT_FRAGMENT_CLASS"
                android:value="com.cyanogenmod.settings.Settings$PowerWidgetActivity" />
        </activity>

        <activity android:name="Settings$PowerWidgetOrderActivity"
                android:label="@string/title_widget_order"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:clearTaskOnLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.cyanogenmod.settings.FRAGMENT_CLASS"
                android:value="com.cyanogenmod.settings.activities.PowerWidget$PowerWidgetOrder" />
            <meta-data android:name="com.cyanogenmod.settings.TOP_LEVEL_HEADER_ID"
                android:resource="@id/power_widget_settings" />
            <meta-data android:name="com.cyanogenmod.settings.PARENT_FRAGMENT_TITLE"
                android:value="@string/title_widget_buttons" />
            <meta-data android:name="com.cyanogenmod.settings.PARENT_FRAGMENT_CLASS"
                android:value="com.cyanogenmod.settings.Settings$PowerWidgetActivity" />
        </activity>
        <!--- End Notification Widget -->
        <!--- Backlight -->
        <activity android:name="Settings$BackLightActivity"
                android:label="@string/backlight_title"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:clearTaskOnLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.cyanogenmod.BACKLIGHT_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.cyanogenmod.settings.FRAGMENT_CLASS"
                android:value="com.cyanogenmod.settings.activities.Backlight" />
            <meta-data android:name="com.cyanogenmod.settings.TOP_LEVEL_HEADER_ID"
                android:resource="@id/backlight_settings" />
        </activity>

        <activity android:name=".activities.LightLevelsActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation">
           <intent-filter>
              <action android:name="android.intent.action.MAIN" />
           </intent-filter>
        </activity>
        <!--- End Backlight -->
    </application>
</manifest>
